## Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

## Publicación
publish/
*.publishsettings
PublishScripts/

## Varios
*.tmp
*.cache
.DS_Store
Thumbs.db
